body{
min-height: 100vh;
display: flex;
justify-content: center;
background: rosybrown;
font-family: 'Poppins',sans-serif;
}

.forgot-container{
    width
}


h1{
    color: saddlebrown;
    text-align: center;
    font-weight: bold;
}


p{
 color:brown;
 text-align: center;
 font-weight: 100;

}

form{

height:450px;
width: 400px;
margin: 20px auto;
background-color: whitesmoke;
padding:20px;

}
button{

width: 120px;
padding: 10px;
background-color: saddlebrown;
color: white;
border: none;
border-radius: 10px;
font-weight: bold;
}
 
label {
    display: inline-block;
    width: 140px;
    font-weight: bold;
    
}
input[type="text"],
input[type="text"] {
    width: 200px;
    padding:8px;

    
}
