
body {
    background: #ffffff; 
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0000;
}


.container {
    width: 400px;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    background: #ffffff;
   
    box-shadow: 0 10px 30px rgba(0, 123, 255, 0.1); 
    border: 1px solid #f0f0f0;
}




.form-box h1 {
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: 600;
    color: #000; 
}

.desc {
    font-size: 14px;
    color: #000; 
    margin-bottom: 25px;
}


input[type="password"] {
    width: 100%; 
    padding: 14px;
    margin: 10px 0;
    border: 1px solid #007bff;
    border-radius: 10px;
    font-size: 14px;
    background: #ffffff;
    color: #000; 
    box-sizing: border-box; 
}

input::placeholder {
    color: rgba(0, 0, 0, 0.6); 
}

input:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}


.btn {
    width: 100%;
    padding: 14px;
    margin-top: 15px;
    border: 2px solid #007bff; 
    border-radius: 30px;
    background: #007bff; 
    color: #ffffff; 
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}


.btn:hover {
    background: #ffffff; 
    color: #007bff;      
    transform: translateY(-2px);
}

.secondary-btn {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff; 
    font-weight: 500;
    font-size: 14px;
}

.error-msg {
    color: #ff4d4d; 
    font-size: 13px;
    text-align: center;
    margin: 10px 0;
}

.ok {
    color: #2ecc71;
    font-weight: 600;
}