body {
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),rosybrown;
    font-family : 'Poppins', sans-serif;
    margin:0;
    padding: 20px;
    height: 100vh;
    display: flex;
    align-items: center;
}

.lohin-box{
    width: 380px;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
    color: black;
    
}
