body {
    background:#fff;
   font-family : 'Poppins', sans-serif;
    margin:0;
    padding: 20px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}



.login-box{
    width: 380px;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    background: #fff;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
    color: black;

}

.login-box h1{
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 600;
    color: #000;
    text-shadow: none;
}


input[type="text"],
input[type="password"]{
    width: 80%;
    padding: 14px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    background: rgba(255,255,255,0.9);
    color: #333;
}


input:focus{
    outline: none;
    box-shadow: 0 0 8px rgba(179,88,9,0.6);
}
.checkbox-label{

    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 14px;
    color: saddlebrown;
}

.btn{
    width: 50%;
    padding: 14px;
    margin-top: 15px;
    border: none;
    border-radius: 30px;
    background: #8e2a10;
    color: white;
    font-weight: 600;
    font-size: 16px;

}

.btn:hover {
    background: #b35809;
    transform: translateY(-2px);
}

.secondary-btns{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.secondary-btns input{
    flex: 1;
    margin: 5px;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: #8e2a10;
    color: white;
    font-weight: 600;

}
.secondary-btns input:hover{
    background-color: #b35809;
}

.error-msg{
color:#df430b;
font-size: 13px;
text-align: center;
margin: 4px 0; 
}