body {
margin :0;

background-color: rosybrown;
    font-family : Arial, sans-serif;
    margin:0;
    padding: 20px;
}
h1 {
    color: saddlebrown;
    text-align: center;
    font-weight: bold;
}
form {
    height: 400px;
    width: 400px;
    margin:20px auto;
    background:white;
    padding:15px;

}
input [type ="text"],
input [type ="number"],
input[type="password"]{
width: 250px;
padding: 10px;
border : 1px solid black;
border-radius : 20px;
}

input[type="submit"] {
width: 150px;
padding:10px;
background-color:saddlebrown;
color:white;
border: none;
border-radius: 20px;
font-weight: bold;

}
p{

margin-top:15px;

}

a{
    color:darkblue;
    font-weight:bold;
}
label {
    display: inline-block;
    width: 140px;
    font-weight: bold;
    vertical-align: top;
}