body{

    font-family: Arial, sans-serif;
    background: rosybrown;
    padding: 20px;
    color: #fff;
    text-align: center;
}
.container{
    max-width: 800px;
    margin: auto;
    background: rgba(255,255,255,0.1);
    backdrop-filter: 15px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
}

img{
    width:100%;
    border-radius: 8px;
    margin: 15px 0;
}

.badge{
    padding: 4px 8px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;

}


.available{
    background: #8e2a10;
}

.booked{
    background: #df430b;
}

.maintenance{
    background: #b35809;
    color: #fff;
}

label {
    display: block;
    margin-top: 12px;
    color: black;
}

input,button{
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: none;
}

button{
    background: #8e2a10;
    color: #fff;
    font-weight: 600;

}
button:hover{
    background: #b35809;
    transform: translate(-2px);
}

.success{
    color: #df430b;
    font-weight: bold;
}

.error{
    color: #8e2a10;
    font-weight: bold;
}

.back-btn{
    display: inline-block;
    margin: 20px;
    text-decoration: none;
    background: #8e2a10;
    color: #fff;
    padding: 10px 18px;
    border-radius: 8px;
}
.back-btn:hover{
    background: #b35809;
}
h1{
    color: #8e2a10;
}