body{
    margin:0 ;
font-family: 'Poppins',sans-serif;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: rosybrown;
}

.password-card{
    width: 100%;
    max-width: 420px;
    padding: 30px;
    border-radius: 15px;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
    color: black;
}

.password-card h1{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Playfair Displays';
    color: saddlebrown;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

label{
    display: block;
    margin-top: 12px;
    font-weight: 600;
    color: black;
}

input[type="password"]{
    width: 80%;
    padding: 12px;
    margin-top: 6px;
    border: none;
    border-radius: 8px;
    background: rgba(255,255,255,0.9);
    font-size: 14px;
    color: #333;

}

input[type="password"]:focus{
    outline: none;
    box-shadow: 0 0 8px rgba(179,88,9,0.6);
}

input[type="submit"],
.back-btn{
    width: 50%;
    margin-top: 15px;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 600;
    

}

input[type="submit"]:hover{
    background: #b35809;
    transform: translateY(-2px);
  
}
.back-btn{
    background: transparent;
    border: 2px solid #8e2a10;
    color: #8e2a10;
      text-align: center;
}

.back-btn:hover{
    background: #8e2a10 ;
    color: #ffff;
}

.error-msg{
    color: #df430b;
    font-size: 13px;
    margin: 4px 0;
}

.ok{
    color: #8e2a10;
    font-weight: 600;
    text-align: center;
    margin: 10px 0;
}