body{
    margin:0 ;
font-family: 'Poppins',sans-serif;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: rosybrown;
}

.password-card{
    width: 100%;
    max-width: 420px;
    padding: 30px;
    border-radius: 15px;
    background: rgba(255,255,255,0.15);
    backdrop-filter: 0 8px 32px rgba(0,0,0,0.3);
    color: black;
}

.password-card h1{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: saddlebrown;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
