body {
    background: #fff;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0; 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

.login-box {
    width: 380px;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    background: #fff;
    box-shadow: 0 8px 25px rgba(0,0,0,0.1); 
    color: black;
}

.login-box h1 {
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 600;
    color: #000;
}

input[type="text"],
input[type="password"] {
    width: 100%; 
    padding: 14px;
    margin: 10px 0;
    border: 1px solid #007bff;
    border-radius: 10px;
    font-size: 14px;
    background: #fff;
    color: #000;
    box-sizing: border-box; 
}

input::placeholder {
    color: rgba(0,0,0,0.6);
}

input:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(0,123,255,0.3);
}

.checkbox-label {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 14px;
    color: #007bff;
    cursor: pointer;
}

.btn {
    width: 100%; 
    padding: 14px;
    margin-top: 15px;
    border: 2px solid #007bff; 
    border-radius: 30px;
    background: #007bff; 
    color: white;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #fff;
    color: #007bff;
    transform: translateY(-2px);
}

.secondary-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.secondary-btns input {
    flex: 1;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid transparent; 
    background: transparent;
    color: #007bff;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.secondary-btns input:hover {
    text-decoration: underline;
    background: rgba(0, 123, 255, 0.05); 
}

.error-msg {
    color: #ff4d4d;
    font-size: 13px;
    text-align: center;
    margin: 5px 0; 
}
.success-msg {
    color: #2ecc71;
    font-weight: 600;
    margin-bottom: 12px;
}