body {
  
    font-family : 'Poppins' , sans-serif;
    background: rosybrown ;
    margin: 0;
    padding:20px;
    color: #fff;
}

h1{
    text-align: center;
    color: saddlebrown;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px, 1fr));
    gap: 20px;
}

.room-card{
 background: rgba(255,255,255,0.12);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);

}