body{
background-color: rosybrown;
font-family: Arial, sans-serif ;
margin:0;
padding:20px;
}

h1{
    color: saddlebrown;
    text-align: center;
    font-weight: bold;
}


p{
 color:brown;
 text-align: center;
 font-weight: 100;

}

form{

height:250px;
width: 320px;
margin: 20px auto;
background-color: whitesmoke;
padding:20px;
border-radius: 10px;
}
button{

width: 120px;
padding: 10px;
background-color: saddlebrown;
color: white;
border: none;
border-radius: 10px;
font-weight: bold;
}
 
