body{
background-color: rosybrown;
font-family: Arial, sans-serif ;
margin:0;
padding:20px;
}

h1{
    color: saddlebrown;
    text-align: center;
    font-weight: bold;
}


p{
 color:brown;
 text-align: center;
 font-weight: 100;

}

form{

height:450px;
width: 400px;
margin: 20px auto;
background-color: whitesmoke;
padding:20px;

}
button{

width: 120px;
padding: 10px;
background-color: saddlebrown;
color: white;
border: none;
border-radius: 10px;
font-weight: bold;
}
 
label {
    display: inline-block;
    width: 140px;
    font-weight: bold;
    vertical-align: top;
}
input[type="text"],
input[type="password"] {
    width: 200px;
    padding:8px;

    
}
input[type="submit"] {
width: 150px;
padding:10px;
background-color:rgb(45, 20, 175);
color:white;
border: none;
border-radius: 20px;
font-weight: bold;

}