body {
    background-color: rosybrown;
    font-family : Arial, sans-serif;
    margin:0;
    padding: 20px;
}

h1 {
    color: saddlebrown;
    text-align: center;
    font-weight: bold;
}

form {
    height: 250px;
    width: 300px;
    margin:20px auto;
    background:white;
    padding:15px;

}


label {
    display: inline-block;
    width: 140px;
    font-weight: bold;
    vertical-align: top;
}

input[type="text"],
input[type="password"] {
    width: 200px;
    padding:8px;

    
}
input[type="submit"] {
width: 150px;
padding:10px;
background-color:rgb(45, 20, 175);
color:white;
border: none;
border-radius: 20px;
font-weight: bold;

}