*{
margin:0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins',sans-serif;
}
body{

min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background: rosybrown;

}

.profile-card{
width: 100%;
max-width: 400px;
padding: 30px;
border-radius: 15px;
background: rgba(103, 60, 35, 0.15)
backdrop-filter: blur(12px);
box-shadow: 0 8px 25px rgba(0,0,0,0.3);
text-align:center;
color:black;

}

.profile-card h1{
 margin-bottom: 15px;
 font-size: 26px;
 color:rgb(118, 53, 10);
}

.avatar{
width:130px;
height:130px;
border-radius: 50%;
object-fit: cover;
border : 3px solid rgb(95, 45, 9);
margin-bottom: 15px;






}